<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llf.mapper.EmpMapper">
    <delete id="deleteByIds">
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="com.llf.pojo.Emp">
        select emp.*, dept.name deptName
        From emp Left join dept On emp.dept_id = dept.id
        <where>
            <if test="name != null and name != ''">
                emp.name like concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                and emp.gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                and emp.entry_date
                between #{begin} and #{end}
            </if>
        </where>
        Order by emp.update_time desc
    </select>
</mapper>